@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Onest:wght@100..900&display=swap');

:root {
	--white: #ffffff;
	--black: #171717;

	/* spacing */
	--space-sm: 0.5rem;
	--space-md: 1rem;
	--space-lg: 2rem;

	/* fonts */
	--heading-font: 'Barriecito', sans-serif;
	--body-font: 'Onest', sans-serif;

	/* font sizes */
	--text-sm:   0.875rem;
	--text-base: 1rem;
	--text-lg:   1.5rem;
}

p {
	line-height: 1.2rem;
	font-family: var(--body-font);
	font-size: var(--text-base);
	padding-block: 0.5rem;
}

h1 {
	font-family: var(--heading-font);
	font-size: var(--text-lg);
}

body {
	display: flex;
	flex-direction: column;
	padding: var(--space-md);
}

main {
	background-color: var(--white);
	display: grid;
	gap: var(--space-md);

	@media (width > 900px) {
		grid-template-columns: 1fr 1fr;
	}
}

.step {
	display: none;
}

.step.active {
	display: block;
}

form {
	background-color: #f2f2f2;
	border-radius: var(--space-sm);
	display: grid;
	gap: var(--space-md);
	padding: var(--space-md);
}

footer {
	display: flex;
	flex-direction: column;

	@media (width > 500px) {
		flex-direction: row;
		justify-content: space-between;
	}
}