:root {
	--white: #ffffff;
	--black: #171717;

	--spacing: 2em;
}

body {
	
	display: grid;
	gap: var(--spacing);
	margin: initial;
	padding: var(--spacing);
}

.step {
	display: none;
}

.step.active {
	display: block;
}

form {
	background-color: tomato;
	border-radius: var(--spacing);
	display: grid;
	gap: var(--spacing);
	padding: var(--spacing);
}